.header{
    position: relative;
    padding: 1rem 0 4rem;
    background: #13121b;
}

.header img {
    float: left;
    padding-bottom: 1rem;
}

.title{
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.logo{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;    
}

.nav-item {
    color: #ffffff;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 0.9rem;
    float: right;
}

.nav-item:hover{
    color:  #c0b5ee;
}

.active-nav-item{
    color:  #ab9bec;
}

